# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. And also some examples are given for evaluating arithmetic expression in Python.

**Objectives:**
- List of popular languages for Data Science
- List of commonly used for Data Science
- Three development environment open source tools used in data science
- Some arithmetic expression examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. ggplot2
5. SciPy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.
-  5+8-2
-  (2*8)+4
-  17-(3*2)
-  (14/2)-1

In [4]:
# This a simple arithmetic expression to mutiply 3 by 4 then add 5
(3*4)+5

17

In [5]:
# This will convert 200 minutes into hours by diving by 60
200/60

3.3333333333333335

## Author
Vikas